ul.modal-form {
  background-color: #fff;
  list-style-type: none;
  padding-left: 0;
  width: 100%;

  & li {
    background-color: #eee;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
}

.modal-form label {
  color: #999;
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: $headline-font;
  font-size: $ms-1;
  padding-left: 10px;

  input:focus+& {
    color: #777;
  }
}

.modal-form input, select {
  box-sizing: border-box;
  padding: 2em 10px 10px 20px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5em;
  background: transparent;
  border: none;

  &:focus {
    border: 0;
    background-color: #fff;
    outline: none;
  }
}

.modal-form label, input {
  transition: all 0.35s ease;
}

.modal-form select {
  height: 2.5rem;
  margin-top: 2em;
  margin-left: 15px;
  margin-bottom: 5px;
  width: 90%;
}

ul.search-form {
  list-style-type: none;
  padding-left: 0;
  width: 250px;
  position: absolute;
  right: 40px;
  top: 45px;

  & li {
    position: relative;
    width: 100%;
    background-color: $gray-light;
    border-radius: 4px;
    transition: all .2s ease-in-out;

    &:focus {
    }
  }
}

.search-form label {

}

.search-form input {
  box-sizing: border-box;
  padding: 6px 10px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5em;
  background: transparent;
  border: none;
  border-radius: 4px;

  &:focus {
    outline: 0;
    box-shadow: 0 0 5px lighten($blue, 5%);
    background-color: #fefefe;
  }
}

.search-form button {
  position: absolute;
  right: 4px;
  top: 4px;
}
