// Containers
.wrapper {
  @include j-cf();
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  padding: 40px
}

// Grid
.col-wrap, .catalog-wrap {
  @include j-cf();
  padding-bottom: 30px;

  &:last-child {
    border-bottom: 0;
  }

  &:not(:first-child) {
    padding-bottom: 10px;
  }
}
.col-full {
  @include j-center(100%);
}

.one-half {
  @include j-unstack();
  @include j-center(100%);

  @include breakpoint(sm) {
    @include j-column(1/2, $gutter: 4, $cycle: 2);
  }

  @include breakpoint(lg) {
    @include j-column(1/2, $gutter: 6, $cycle: 2);
  }
}
