a.btn {
  background-color: $gray;
  color: #333;
  display: inline-block;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  &:hover {
    background-color: $gray;
  }
}
