.image-container {
  margin: 25px auto;

  & img {
    max-width: 100%;
  }

  &.corbit-family {
    width: 325px;
  }
}

// animated entrances
#icon-global { animation-delay: .5s; }
#icon-arcology { animation-delay: .6s; }
#icon-security { animation-delay: .7s; }
#icon-health { animation-delay: .8s; }
#icon-space { animation-delay: .9s; }
#icon-tech { animation-delay: 1s; }
