.button {
  border-radius: 2px;
  // background-color: $blue;
  font-family: $headline-font;
  font-size: $ms-1;
  // color: #fff;
  padding: 7px 13px;
  text-decoration: none;
  // text-shadow: 1px 1px 0 darken($blue, 5%);
  // box-shadow: 1px 1px 1.5px 0 rgba(0,0,0,.2);
  transition: all .2s ease-in-out;
  background-color: #fff;
  color: darken($blue, 25%);
  border: 1px solid $blue;

  &:hover {
    // box-shadow: 1px 2px 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 3px lighten($blue, 10%);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

// .remove-movie {
//   background-color: lighten($red, 30%);
//   color: darken($red, 10%);
//   font-size: $ms-1;
//   padding: 5px 7px;
//   text-shadow: none;
// }

.remove-movie {
  background-color: #fff;
  border: 1px solid $red;
  color: $red;
  font-size: $ms-1;
  padding: 5px 7px;
  text-shadow: none;
  box-shadow: none;

  &:hover {
    box-shadow: 0 0 3px lighten($red, 10%);
  }
}

.modal-form button[type="submit"] {
  color: darken($green, 20%);
  font-family: $headline-font;
  font-size: $ms0;
  font-weight: bold;
  padding: 10px 0;
  border-radius: 4px;
  border: 2px solid $green;
  background-color: #fff;
  margin-top: 15px;
  width: 150px;
  display: inline-block;
  float: right;

  &:hover {
    box-shadow: 0 0 5px lighten($green, 5%);
  }
}

.search-form button[type="submit"] {
  background-image: none;
  background: transparent;
  border: 0;
}
